const tables = require("../../database/tables");

const browse = async (req, res, next) => {
  // Ton code pour la fonction browse ici
};

const read = async (req, res, next) => {
  // Ton code pour la fonction read ici
};

const edit = async (req, res, next) => {
  // Ton code pour la fonction edit ici
};

const add = async (req, res, next) => {
  // Ton code pour la fonction add ici
};

const destroy = async (req, res, next) => {
  // Ton code pour la fonction destroy ici
};

module.exports = {
  browse,
  read,
  edit,
  add,
  destroy,
};
